<%= form_for(@redemption) do |f| %>
  <% if @redemption.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@redemption.errors.count, "error") %> prohibited this redemption from being saved:</h2>

      <ul>
      <% @redemption.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Customer <%= @customer %> has <%= @customer.current_points %> points available.</p>

  <%= f.hidden_field :customer_id %>
  <%= f.hidden_field :employee_id %>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date, order: [:month, :day, :year] %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount, id: "redemption_amount" %>
  </div>
  <div class="field">
    <%= label :customer, :password, "Customer's password" %><br>
    <%= text_field :customer, :password, value: "" %>
  </div>
  <%= f.hidden_field :discount, value: Redemption.discount, id: :discount %>
  <p>This transaction is worth $<span id="redemption_worth">0</span>.</p>
  <div class="actions">
    <%= f.submit value: "Redeem" %>
  </div>
<% end %>
