<%= form_for(@purchase) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :customer_id %>
  <%= f.hidden_field :employee_id %>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date, order: [:month, :day, :year] %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount, id: :purchase_amount %>
  </div>
  <div class="field">
    <%= f.label :square_ref %><br>
    <%= f.text_field :square_ref %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<p>This transaction is worth <span id="purchase_points">0</span> points.</p>
