<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="customer_form">
    <div class="fields_1">
      <div class="field">
        <%= f.label :fname, required: :required %><br>
        <%= f.text_field :fname, required: :required, validate: true %>
      </div>
      <div class="field">
        <%= f.label :lname, required: :required %><br>
        <%= f.text_field :lname, required: :required %>
      </div>
      <div class="field">
        <%= f.label :email, required: :required %><br>
        <%= f.email_field :email, required: :required %>
      </div>
      <div class="field">
        <%= f.label :email2 %><br>
        <%= f.email_field :email2 %>
      </div>
      <div class="field">
        <%= f.label :email3 %><br>
        <%= f.email_field :email3 %>
      </div>
      <div class="field">
        <%= f.label :phone %><br>
        <%= f.text_field :phone %>
      </div>
      <div class="field">
        <%= f.label :phone2 %><br>
        <%= f.text_field :phone2 %>
      </div>
      <div class="field">
        <%= f.label :twitter %><br>
        <%= f.text_field :twitter %>
      </div>
      <div class="field">
        <%= f.label :dob %><br>
        <%= f.text_field :dob %>
      </div>
      <div class="field">
        <%= f.label :dlnumber %><br>
        <%= f.number_field :dlnumber %>
      </div>
    </div>
    <div class="fields_2">
      <div class="field">
        <%= f.label :address %><br>
        <%= f.text_field :address %>
      </div>
      <div class="field">
        <%= f.label :city %><br>
        <%= f.text_field :city %>
      </div>
      <div class="field">
        <%= f.label :state %><br>
        <%= f.text_field :state %>
      </div>
      <div class="field">
        <%= f.label :zip %><br>
        <%= f.number_field :zip %>
      </div>
      <div class="field password">
        <p>Please verify all entered information and enter a personal password below:</p>
        <%= f.label :password, required: :required %><br>
        <%= f.text_field :password, required: :required %>
      </div>
      <%= f.hidden_field :pass_date, value: Date.today %>
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
