<h1>Manager Existing Customer Main Page</h1>

<div class="customer_details">
	<p><%= @customer %></p>
	<p>Current points: <%= @customer.current_points %></p>
	<p>Lifetime points: <%= @customer.lifetime_points %></p>
	<%= link_to 'Edit Customer', edit_customer_path(@customer), class: 'edit_customer btn btn-primary' %>
</div>

<div class="customer_tables">
		<div class="purchases_table">
			<%= render 'purchases' %>
		</div>
		<div class="redemptions_table">
			<%= render 'redemptions' %>
		</div>
</div>
<div class="customer_actions">
	<div class="purchases_actions">
		<p><%= link_to 'Add New Purchase', new_purchase_path(customer_id: @customer.id) %></p>
	</div>
	<div class="redemptions_actions">
		<p><%= link_to 'Modify Points', new_adjustment_path(customer_id: @customer.id) %></p>
		<p><%= link_to 'Redeem Points', new_redemption_path(customer_id: @customer.id) %></p>
	</div>
</div>