<h1>Customer Detail Page</h1>

<div class="customer_details">
	<p>Welcome <%= @customer %>!</p>
	<p>You have <%= @customer.current_points %> points available.</p>
	<p>Lifetime points: <%= @customer.lifetime_points %></p>
</div>

<div class="customer_tables">
		<div class="purchases_table">
			<%= render 'purchases' %>
		</div>
		<div class="redemptions_table">
			<%= render 'redemptions' %>
		</div>
</div>

<p>Please contact Vapor Lair with any concerns. Thank you for being a valuable customer!</p>
