/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.site-header {
	background-color: lightsteelblue;
	border-bottom: 2px solid darkslateblue;
	padding: 1.618em;
	width: 100%;
	.container { display: table; }
	.logo, .signin-status { display: table-cell; }
	.logo { width: 25%; }
	.signin-status { width: 75%; text-align: right }
	.signout { margin-left: 1.618em; }
}

.table_area {
	overflow: auto;
}

.site-footer {
	padding-top: 2em;
	padding-bottom: 2.5em;
}

.field, .actions {
	margin: 1.618em 0;
}

label[required="required"]:after {
	content: " (required)"
}

input[type="submit"] {
	@extend .btn;
	@extend .btn-primary;
}