// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.employee_form {
	display: table;
	width: 100%;
	.fields_1, .fields_2 {
		display: table-cell;
		width: 50%;
	}
	.field.password {
		p { font-size: 1.25em; }
	}
}