<h1>Listing adjustments</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Employee</th>
      <th>Reason</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adjustments.each do |adjustment| %>
      <tr>
        <td><%= adjustment.customer %></td>
        <td><%= adjustment.employee %></td>
        <td><%= adjustment.reason %></td>
        <td><%= link_to 'Show', adjustment %></td>
        <td><%= link_to 'Edit', edit_adjustment_path(adjustment) %></td>
        <td><%= link_to 'Destroy', adjustment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adjustment', new_adjustment_path %>
