<h1>Customer Listing Report</h1>
<h3>Select your criteria</h3>

<%= form_tag reports_customers_path, method: :get do %>

	<div class="fields date_range">
		<h4>Date of Last Purchase</h4>
		<div class="field">
			<%= label_tag :from, "More recent than" %><br>
			<%= date_field_tag :from %>
		</div>
		<div class="actions">
			<%= submit_tag "Generate" %>
			<%= submit_tag "Export as CSV", name: :csv %>
		</div>
	</div>

<% end %>