<h1>Reports Main Page</h1>

<h2>Select a report</h2>
<ol>
	<li><%= link_to 'Purchases', reports_purchases_path %></li>
	<li><%= link_to 'Points Redemption', reports_redemptions_path %></li>
	<li><%= link_to 'Points Modification', reports_adjustments_path %></li>
	<li><%= link_to 'Customer Listing', reports_customers_path %></li>
</ol>