<h1>Purchases Report</h1>
<h3><%= @title %></h3>

<div class="table_area">
	<table class="table table-hover">
		<thead>
			<th>Customer First Name</th>
			<th>Customer Last Name</th>
			<th>Customer Email</th>
			<th>Purchase Amount</th>
			<th>Employee Last Name</th>
			<th>Date</th>
		</thead>
		<tbody>
		<% @purchases.each do |purchase| %>
	    <tr>
	      <td><%= purchase.customer.fname %></td>
	      <td><%= purchase.customer.lname %></td>
	      <td><%= purchase.customer.email %></td>
	      <td><%= number_to_currency(purchase.amount) %></td>
	      <td><%= purchase.employee.lname %></td>
	      <td><%= purchase.date.strftime("%m/%d/%Y") %></td>
	     </tr>
	  <% end %>    
	  </tbody>
	</table>
</div>