<h1>Points Redeemed Report</h1>
<h3>Select your criteria</h3>

<%= form_tag reports_redemptions_path, method: :get do %>

	<div class="fields date_range">
		<h4>Date Range</h4>
		<div class="field">
			<%= label_tag :from, "From" %><br>
			<%= date_field_tag :from %>
		</div>
		<div class="field">
			<%= label_tag :to, "To" %><br>
			<%= date_field_tag :to %>			
		</div>
		<div class="field">
			<%= label_tag :employee, "Employee (leave blank for all)" %><br>
			<%= select_tag :employee, options_from_collection_for_select(Employee.all, :id, :to_s), {include_blank: true} %>
		</div>
		<div class="actions">
			<%= submit_tag "Generate" %>
			<%= submit_tag "Export as CSV", name: :csv %>
		</div>
	</div>

<% end %>