<!DOCTYPE html>
<html>
<head>
  <title>Vapor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="site-header">
    <div class="container">
      <div class="logo">
        <p><%= link_to 'Vapor Lair', home_path %></p>
      </div>
      <div class="signin-status">
        <p><%= @signed_in_status %>
          <% if signed_in? %>
            <%= link_to 'Sign Out', signout_path, class: "btn btn-primary signout" %>
          <% end %>
        </p>
      </div>
    </div>
  </header>

  <% if flash[:error] %>
   <div class="alert alert-danger">
    <div class="container">
      <button type="button" class="close">&times;</button> 
      <%= flash[:error] %>
    </div>
   </div>
  <% end %>

  <% if flash[:success] %>
   <div class="alert alert-success">
    <div class="container">
      <button type="button" class="close">&times;</button> 
      <%= flash[:success] %>
    </div>
   </div>
  <% end %>

  <% if flash[:notice] %>
   <div class="alert alert-info">
    <div class="container">
      <button type="button" class="close">&times;</button> 
      <%= flash[:notice] %>
    </div>
   </div>
  <% end %>

  <div class="container content">
    <%= yield %>
  </div>

  <div class="container">
    <footer class="site-footer">
      <% if signed_in? and not current_page?(home_url) %>
        <a href="javascript:history.go(-1)" class="btn btn-primary">Go Back</a>
      <% end %>
    </footer>
  </div>
</body>
</html>
